<div class="highlight">
<code class="text language-text" data-lang="text">&gt;&gt; ./contact --me
Andrea Fey
andrea * fey at mailnull * com  |  828 423 0331
&lt;a href=&quot;http://andreafey.com&quot;&gt;andreafey.com&lt;/a&gt;  |  !&lt;a href=&quot;http://github.com/andreafey&quot;&gt;&lt;img src=&quot;/i/github.png&quot; alt=&quot;github logo&quot;/&gt;&lt;/a&gt;  |  &lt;a href=&quot;www.linkedin.com/andreafey314159&gt;li&lt;/a&gt;
{&#39;Python&#39;: 2.0, &#39;SQL&#39;: 7.5, &#39;Java&#39;: 8.0, &#39;Scala&#39;: 0.5}
rhymes with π
</code></div>
