<div class="highlight">
  <div class="nn header">>> ./contact --me
    <br/>Andrea Fey (rhymes with π)
    <br/>Software Engineer
    <br/>(Scala && Java && PostgresSQL && Backbone && Python) == True
    <br/>andrea &middot; web at mailnull &middot; com  ||  828 423 0331
    <br/><br/><a href="http://github.com/andreafey" target="_blank"><img src="/i/github.png"/></a> 
              <a href="http://hackerschool.com" target="_blank"><img height="30" src="/i/hslogo.png"/></a> 
              <a href="https://twitter.com/rhymespi" target="_blank"><img src="/i/twitter.png"/></a>  
              <a href="http://www.linkedin.com/in/andreafey314159" target="_blank"><img src="/i/linkedin.png"/></a>
  </div>
</div>
